.js {
  background-color: #f0db4f;
  -webkit-mask: url("https://simpleicons.org/icons/javascript.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/javascript.svg") no-repeat center;
}

.dart {
  background-color: #0175c2;
  -webkit-mask: url("https://simpleicons.org/icons/dart.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/dart.svg") no-repeat center;
}

.css {
  background-color: #663399;
  -webkit-mask: url("https://simpleicons.org/icons/css.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/css.svg") no-repeat center;
}

.html {
  background-color: #e34c26;
  -webkit-mask: url("https://simpleicons.org/icons/html5.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/html5.svg") no-repeat center;
}

.ruby {
  background-color: #cc342d;
  -webkit-mask: url("https://simpleicons.org/icons/ruby.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/ruby.svg") no-repeat center;
}

.python {
  background-color: #3776ab;
  -webkit-mask: url("https://simpleicons.org/icons/python.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/python.svg") no-repeat center;
}

.java {
  background-color: #007396;
  -webkit-mask: url("https://simpleicons.org/icons/openjdk.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/openjdk.svg") no-repeat center;
}

.react {
  background-color: #61dafb;
  -webkit-mask: url("https://simpleicons.org/icons/react.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/react.svg") no-repeat center;
}

.angular {
  background-color: #dd0031;
  -webkit-mask: url("https://simpleicons.org/icons/angular.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/angular.svg") no-repeat center;
}

.typescript {
  background-color: #3178c6;
  -webkit-mask: url("https://simpleicons.org/icons/typescript.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/typescript.svg") no-repeat center;
}

.spring-boot {
  background-color: #6db33f;
  -webkit-mask: url("https://simpleicons.org/icons/spring.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/spring.svg") no-repeat center;
}

.django {
  background-color: #092e20;
  -webkit-mask: url("https://simpleicons.org/icons/django.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/django.svg") no-repeat center;
}

.flask {
  background-color: #000000;
  -webkit-mask: url("https://simpleicons.org/icons/flask.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/flask.svg") no-repeat center;
}

.mongodb {
  background-color: #47a248;
  -webkit-mask: url("https://simpleicons.org/icons/mongodb.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/mongodb.svg") no-repeat center;
}

.mysql {
  background-color: #4479a1;
  -webkit-mask: url("https://simpleicons.org/icons/mysql.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/mysql.svg") no-repeat center;
}

.postgresql {
  background-color: #336791;
  -webkit-mask: url("https://simpleicons.org/icons/postgresql.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/postgresql.svg") no-repeat center;
}

.docker {
  background-color: #2496ed;
  -webkit-mask: url("https://simpleicons.org/icons/docker.svg") no-repeat center;
  mask: url("https://simpleicons.org/icons/docker.svg") no-repeat center;
}

.flutter {
  background-color: #02569b;
  -webkit-mask: url("https://simpleicons.org/icons/flutter.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/flutter.svg") no-repeat center;
}

.wordpress {
  background-color: #21759b;
  -webkit-mask: url("https://simpleicons.org/icons/wordpress.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/wordpress.svg") no-repeat center;
}

.ruby-on-rails {
  background-color: #D30001;
  -webkit-mask: url("https://simpleicons.org/icons/rubyonrails.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/rubyonrails.svg") no-repeat center;
}

.linux {
  background-color: #FCC624;
  -webkit-mask: url("https://simpleicons.org/icons/linux.svg") no-repeat
    center;
  mask: url("https://simpleicons.org/icons/linux.svg") no-repeat center;
}

